.footer {
    background-color: #f7f7f7;
    padding: 20px 0;
    color: #777;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    font-size: 12px;
    color: #555;
    white-space: nowrap;
    margin-right: 10px;
}

.footer-links li:last-child {
    margin-right: 0;
}

.footer-links a {
    color: #555;
    text-decoration: none;
}

.footer-links a:hover {
    color: #333;
}

.footer-support {
    font-size: 12px;
    color: #555;
    white-space: nowrap;
    text-align: center;
    margin-left: auto;
}

@media screen and (max-width: 768px) {
    .footer-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-links li {
        margin-bottom: 5px;
    }
}
